{% extends "layout.html" %}
{% block content %}
	<div class="card-body text-center">
		<h5 class="card-title">Welcome</h5>
		<p class="card-text"><i><b>Moin!</b></i> This is the portal helps to convert BibTeX entries hosted on ORCID in HTML</p>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-2"></div>
		
		<div class="col-4">
			<div class="row">
				<div class="col text-center">
					<div class="row">
						<div class="col">
							<i class="fab fa-orcid fa-4x" style="color:#a6ce39;"></i>
						</div>
					</div>
					<div class="row">
						<div class="col">
							ORCID
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col pt-4">
							<span class="text-right">
								converts into
							</span>
						</div>
					</div>
				</div>
				<div class="col text-center">
					<div class="row">
						<i class="fas fa-file-code fa-4x" style="color:#FF8C00;"></i>
					</div>
					<div class="row">
							HTMLs
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-info" href="orcid2html" role="button">OrcidToHTML<i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		
		
		<div class="col-3">
	
			<div class="row">
				<div class="col text-center">
					<div class="row">
						<div class="col">
							<i class="fas fa-text-width fa-4x" style="color:#6495ED;"></i>
						</div>
					</div>
					<div class="row">
						<div class="col">
							BibTeX
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col pt-4">
							<span class="text-right">
								converts into
							</span>
						</div>
					</div>
				</div>
				<div class="col text-center">
					<div class="row">
						<div class="col">
							<i class="fas fa-file-code fa-4x" style="color:#FF8C00;"></i>
						</div>
					</div>
					<div class="row">
						<div class="col">
							HTML
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a href="bibtex2html" class="btn btn-info" role="button">BibTeXToHTML <i class="fas fa-arrow-circle-right"></i></a> 
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
{% endblock %}