{% extends "layout.html" %}
{% block content %}
	<div class="card-body text-center">
		<h5 class="card-title">Welcome</h5>
		<p class="card-text"><i><b>Moin!</b></i> This is the portal helps to convert BibTeX entries hosted on ORCID in HTML</p>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
	
		<div class="col-2"></div>
		
		<div class="col-4">
			<div class="row">
				<div class="col text-center">
					<img src="static/img/orcid2html-logo.png" class="img-fluid"/>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-info" href="orcid2html" role="button">OrcidToHTML<i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>		
		<div class="col-1"></div>
		<div class="col-4">	
			<div class="row">
				<div class="col text-center">
					<img src="static/img/bibtex2html-logo.png" class="img-fluid"/>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a href="bibtex2html" class="btn btn-info" role="button">BibTeXToHTML <i class="fas fa-arrow-circle-right"></i></a> 
				</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
{% endblock %}